body {
  font-family: sans-serif;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #1b69b6;
}

a:hover {
  text-decoration: underline;
}

span {
  height: 2em;
  border-radius: 1em;
  background-color: #428BCA;
  color: white;
  padding: 0.1em 0.5em;
  font-size: 0.9em;
}
